/* generics */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* header,
main,
footer {
    padding-top: 30px;
    padding-bottom: 50px;
} */

header {
    color: rgb(255, 255, 255);

}

main {
    background-color: rgb(255, 255, 255);
}

footer {
    background-color: rgb(35, 39, 42);
    color: rgb(255, 255, 255);
}

/* utils */
.container {
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

.logo,
.header-button {
    width: 20%;
}

.download,
.open {
    border-radius: 50px;
    border-color: transparent;
    padding: 10px 30px;
    margin: 0 10px;
}

main section {
    padding-top: 70px;
    padding-bottom: 70px;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.white {
    background-color: rgb(255, 255, 255);
}

.grey {
    background-color: rgb(246, 246, 246);
}


/* header */

/* nav */
.header-nav {
    background-color: rgb(37, 94, 233);
    height: 30px;
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 12px;
}

.header.container {
    justify-content: space-between;
}

.header-bottom {
    height: 350px;
    background-image: url(../img/jumbo.png);
    background-size: 100% 500px;
    background-position: center;
    background-repeat: no-repeat;
}


.logo {
    background-image: url(../img/logo.svg);
    background-size: 90px;
    background-repeat: no-repeat;
    text-align: left;
}


.links {
    width: 40%;
    justify-content: space-between;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav-button {
    width: 20%;
    text-align: end;
}

.accedi {
    border-radius: 50px;
    border-color: transparent;
    font-size: 12px;
    color: rgb(0, 0, 0);
    padding: 4px 6px;
}

/* header-bottom */
.header-title {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 44px;
    margin-top: 0;
}

.header-buttons {
    text-align: center;
}

.open {
    color: rgb(255, 255, 255);
    background-color: rgb(35, 39, 42);
}

/* main */

.image {
    width: 70%;
    min-height: 300px;
}

.text {
    width: 30%;
    min-height: 300px;
    text-align: left;
    padding-right: 100px;
    padding-left: 100px;
}

img {
    width: 600px;
}

h2 {
    font-size: 40px;
}

.main-last {
    background-color: rgb(246, 246, 246);
}

.main-last .container {
    padding-left: 300px;
    padding-right: 300px;
}

.stars {
    background-image: url(../img/stars.svg);
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: center;
}

h3 {
    font-size: 22px;
    padding-top: 50px;
}

.download.blue {
    color: rgb(255, 255, 255);
    background-color: rgb(142, 161, 225);
}


/* footer */
.footer-links {
    width: calc(100% / 5);
    background-color: rgb(71, 74, 75);
}

.social-icon {
    display: inline-block;
}

.footer-top {
    border-bottom: 1px solid rgb(55, 138, 255);
}

.footer-bottom {
    justify-content: space-between;
    padding: 10px;
}